.hero
  .arrow-container
    .arrow
  .apple-copy Apple, the Apple logo and the iPhone are trademarks of Apple Inc. registered in the U.S. and other countries. App Store is a service mark of Apple Inc.
  a.source-link(href= SOURCE_URL) source
  .content.text-container
    h1 The art world in your pocket
    h2 Introducing Artsy for iPhone
    #sms.sms
      .heading send a link to your phone
      .error
      input.phone_number.bordered-input(placeholder = "Enter your phone number")
      button.avant-garde-box-button.avant-garde-box-button-grey(type = "submit") SEND
      .success
      .share share on
        .facebook-icon
        .twitter-icon
