#iphone
  .phone
  .black-background
  .iphone-content
    .phone-content-area.splash-images
      img.splash-image.splash-image-1.active(src="assets/01intro.jpg")
      img.splash-image.splash-image-2(src="assets/02intro.jpg")
      img.splash-image.splash-image-3(src="assets/03intro.jpg")
      img.splash-image.splash-image-4(src="assets/04intro.jpg")
      img.splash-image.splash-image-5(src="assets/05intro.jpg")
      img.splash-image.splash-image-6(src="assets/06intro.jpg")
      img.splash-image.splash-image-7(src="assets/07intro.jpg")
      img.splash-image.splash-image-8(src="assets/08intro.jpg")
    .phone-content-area.browse-content-area
      .content-padder
        .black-background.browse-black-background
        video.splash-image.browse-placeholder(preload="auto" muted="true" loop="true" width=320 height=570 poster="assets/browse-placeholder.jpg")
          source(src="assets/browse.mp4")
          source(src="assets/browse.webm")
        img.splash-image.browse-placeholder(src="assets/browse-fallback.jpg")
    .phone-content-area.explore-content-area
      .content-padder
        .black-background.explore-black-background
        video.splash-image.explore-placeholder(preload="auto" muted="true" loop="true" width=320 height=570 poster="assets/explore-placeholder.jpg")
          source(src="assets/explore.mp4")
          source(src="assets/explore.webm")
        img.splash-image.explore-placeholder(src="assets/explore-fallback.jpg")
    .phone-content-area.collect-content-area
      .content-padder
        .black-background.browse-black-background
        video.splash-image.collect-placeholder(preload="auto" muted="true" loop="true" width=320 height=570 poster="assets/collect-placeholder.jpg")
          source(src="assets/collect.mp4")
          source(src="assets/collect.webm")
        img.splash-image.collect-placeholder(src="assets/collect-fallback.jpg")